<link rel="stylesheet" href="header.component.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
<body>
    <nav class="nav">
        <img class="imagen" src="/MyBook/src/assets/titulo.png" alt="">
        <div class="enlaces">
            <a href="header.component.html" class="home">Home</a>
            <a href="" class="register">Register</a>
        </div>
    </nav>
</body>
