<header>
    <a routerLink="/header"></a>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
    <body>
        <nav class="nav">
            <img class="imagen" src="../../../assets/titulo.png" alt="">
            <div class="enlaces">
                <a routerLink="/home" class="home">Home</a>
                <a routerLink="/form-register" class="register">Register</a>
            </div>
        </nav>
    </body>
</header>
