 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
 <body>
    <div class="container">
        <!-- ROW -->
        <div class="row mt-5 mb-1 ms-4 me-4">
                <div class="col-md-4" *ngFor="let book of books; let even = even">
                    <div *ngIf="books.length === 0"> No hay libros registrados</div>
                    <!-- Card -->
                    <div class="card mb-3">
                        <img src="{{book.photo}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="tapa">{{book.type}}</h5>
                            <h2 class="title">{{book.title}}</h2>
                            <p class="autor">{{book.author}}</p>
                            <p class="ref">Ref-{{book.id_book}}</p>
                            <h3 class="price">{{book.price}}€</h3>
                            <a href="#" class="btn" [ngClass]="even ? 'btn-primary' : 'btn-danger'">Comprar</a>
                        </div>
                    </div>
                </div>
        </div>
        <!-- COLUMN -->
        <div class="containerAddBook">
            <img src="../../../assets/fondo7.avif" alt="" class="imgFondo">
            <div class="addBookTitle">
                <h1>Añadir libro</h1>
            </div>
            <div class="form">
                <form action="" class="addBookForm">
                    <input type="text" #inputTitle name="title" id="title" placeholder="Título">
                    <input type="text" #inputType name="type" id="type" placeholder="Tapa blanda/dura">
                    <input type="text" #inputAuthor name="author" id="author" placeholder="Autor">
                    <input type="number" #inputPrice name="price" id="price" placeholder="Precio">
                    <input type="text" #inputPhoto name="photo" id="photo" placeholder="Foto">
                    <input type="number" #inputId_book name="id_book" id="id_book" placeholder="Id del libro">
                    <input type="number" #inputId_user name="id_user" id="id_user" placeholder="Id del usuario">
                </form>
                <button type="submit" (click)=addBook(inputTitle.value,inputType.value,inputAuthor.value,inputPrice.value,inputPhoto.value,inputId_book.value,inputId_user.value)>Añadir libro</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>

