<body>
    <div class="cuadro">
        <!-- Muestra la foto de perfil y los datos -->
        <div class="perfil">
            <img src="" alt="" class="imgPerfil">
            <div class="cabeceraNom">
                <img id="fotoPerfil" src="{{myUser.photo}}" alt="" class="imgNom">
                
                    <!-- PREGUNTAR PORQUÉ NO SALE -->
                    <h2>{{myUser.nombreCompleto()}}</h2>
                
            </div>
            <!-- Mostrar datos con cajas input -->
            <div class="dataGroup">
                <div class="info">
                    <h3>Nombre</h3>
                    <h3>Apellido</h3>
                    <h3>Correo</h3>
                </div>
                <div class="datos">
                    <input type="text" [value]="myUser.nombre">
                    <input type="text" [value]="myUser.apellido">
                    <input type="email" [value]="myUser.email">
                </div>
            </div>
        </div>

        <!-- Editar datos -->
        <div class="editar">
            <h1>Editar datos</h1>
            <form action="">
                <input type="text" #inputNom name="nombreEd" id="nombre" placeholder="Nombre">
                <input type="text" #inputApe name="apellidoEd" id="apellido" placeholder="Apellido">
                <input type="email" #inputEmail name="correoEd" id="correo" placeholder="Correo">
                <input type="url" #inputUrl name="url" id="url" placeholder="Url">
            </form>
            <button type="submit" (click)=enviar(inputNom,inputApe,inputEmail,inputUrl)>Modificar</button>
        </div>
    </div>
</body>