<!-- <header> -->
    <a routerLink="/header"></a>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
    <body>
        <nav class="nav">
            <img class="imagen" src="../../../assets/titulo.png" alt="">
            <div class="enlaces">
                <a *ngIf="!isLoggedIn" routerLink="/home" class="home" routerLinkActive="active">Home</a>
                <a *ngIf="isLoggedIn" routerLink="/books" class="books" routerLinkActive="active">Books</a>
                <a *ngIf="isLoggedIn" routerLink="/addBook" class="addBook" routerLinkActive="active">AddBook</a>
                <a *ngIf="isLoggedIn" routerLink="/updateBook" class="addBook" routerLinkActive="active">UpdateBook</a>
                <a *ngIf="!isLoggedIn" routerLink="/form-register" class="register" routerLinkActive="active">Register</a>
                <a *ngIf="!isLoggedIn" routerLink="/form-login" class="login" routerLinkActive="active">Login</a>
                <a *ngIf="isLoggedIn" routerLink="/user" class="profile" routerLinkActive="active">User</a>
            </div>
        </nav>
    </body>
<!-- </header> -->
