body{
    width: 100vw;
    background-color: rgb(168, 19, 19);
}
.nav{
    /* position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0; */
    width: 100vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.imagen{
    width: 180px;
    height: 100px;
    padding-left: 20px;
    margin-top: -13px;
}
.enlaces{
    padding-bottom: 30px;
    margin-right: 50px;
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 60px;
    
}

.nav a:hover{
    font-size: 25px;
    background-color: white;
    color: rgb(168, 19, 19);
}

.profile{
    margin-right: 20px;
}