<link rel="stylesheet" href="home.component.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">

<main>
    <body>
        <h1 class="titulo">BIENVENIDOS A LA HOME DE LA LIBRERIA MAS GRANDE DE TODA LA RED</h1>
        <h2 class="texto">No esperes más y se uno más de nosotros</h2>
    </body>
</main>
