
body{
    color: rgb(255, 255, 255);
    background-image: url("https://png.pngtree.com/background/20230427/original/pngtree-an-old-library-or-book-room-with-some-books-and-plants-picture-image_2496727.jpg");
    background-size: cover;  
    background-position: center;
    height: 82vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 60px;
    padding: 150px;
    text-align: center;
}
h2{
    font-size: 40px;
    text-align: center;
}