<div class = "contenido">
    <div class = "main">
      <form class ="mb-4" [formGroup]="myForm">
          <div class="form-group mt-4">
            <label>Nombre</label>
            <input type="text" class="form-control"  style="width: 250px;" formControlName="nombre"
            [ngClass]="{'is-invalid': (myForm.get('nombre').dirty || myForm.get('nombre').touched) && !myForm.get('nombre').valid}">
            <div *ngIf="!myForm.get('nombre').valid" class="invalid-feedback">
              El nombre es necesario
            </div>   
          </div>
        
          <div class="form-group">
            <label>Email</label>
            <input  type="email" class="form-control"  style="width: 250px;" formControlName="email"
            [ngClass]="{'is-invalid': (myForm.get('email').dirty || myForm.get('email').touched) && !myForm.get('email').valid}">
            <div *ngIf="!myForm.get('email').valid" class="invalid-feedback">
              <div *ngIf="myForm.get('email').errors.required">La dirección de email es obligatoria</div>
              <div *ngIf="myForm.get('email').errors.email">Dirección email incorrecta</div>
            </div>
          </div>
        
          <div class="form-group">
            <label>Password</label>
            <input  type="password" class="form-control"  style="width: 250px;" formControlName="password"
            [ngClass]="{'is-invalid': (myForm.get('password').dirty || myForm.get('password').touched) && !myForm.get('password').valid}">
            <div *ngIf="!myForm.get('password').valid" class="invalid-feedback">
              <div *ngIf="myForm.get('password').errors.required">La clave es obligatoria</div>
              <div *ngIf="myForm.get('password').errors.minlength">La clave debe tener al menos 8 caracteres</div>    
            </div>
          </div>
   
          <div class="form-group">
            <label>Repetir Password</label>
            <input  type="password" class="form-control"  style="width: 250px;" formControlName="password2"
            [ngClass]="{'is-invalid': (myForm.get('password2').dirty || myForm.get('password2').touched) && !myForm.get('password2').valid}">
            <div *ngIf="!myForm.get('password2').valid" class="invalid-feedback">
              <div *ngIf="myForm.get('password2').errors.required">La clave es obligatoria</div>
              <div *ngIf="!myForm.get('password2').errors.required && 
                          myForm.get('password2').errors.queSeaPepito">Las claves no coinciden</div> 
            </div>
          </div>
  
  
          <div class="form-group">
            <label>Hobbies</label>
            <select formControlName="hobbies" class="form-control" >
              <option *ngFor="let hobby of hobbies" [value]="hobby">
                {{hobby}}
              </option>
            </select>
          </div>
        
          <div class="form-group">
          <button class="btn btn-danger btn-block" (click)="register()" [disabled]="myForm.invalid">Submit</button>
          </div>
        </form>
    </div>
  </div>