<link rel="stylesheet" href="form-register.component.css">

<body>
    <div class="container">
        <h1>Registrate</h1>
        <form>
            <div class="form-group">
                <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre" required>
                <input type="text" id="apellido" name="apellido" placeholder="Ingrese su apellido" required>
                <input type="text" id="enaul" name="enaul" placeholder="Ingrese su email" required>
                <input type="url" id="url" name="url" placeholder="Ingrese su URL" required>
                <input type="password" id="contrasena" name="contrasena" placeholder="Ingrese su contraseña" required>
            </div>
          
            <button type="submit">Registrarse</button>
        </form>
    </div>
</body>
</html>
